*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.b{
  font-weight: bold;
}

.d-flex{
  display: flex;
}

.sp-btw{
  justify-content: space-between;
}

.d-wrap{
  flex-wrap: wrap;
}

.top-distance{
  padding-top: 130px;
}

.j-end{
  justify-content: flex-end;
}

.container{
  width: 1435px;
  max-width: 98%;
  margin: 0 auto;
}

header{
  background-color: #FF6900;
  color: white;
  font-weight: bold;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header ul{
  width: 400px;
}

header ul li{
  list-style: none;
  align-self: center;
  padding: 0 15px 0 0;
  cursor: pointer;
}

.logo{
  width: 140px;
}

.menu li{
  padding: 0 0 0 10px;
}

.item{
  position: relative;
  width: 465px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.item:hover .first-img{
  display: none;
}

.card img{
  width: 100%;
}

.first-img{
  position: absolute;
  top: 0;
  margin: 0;
}

.secondo-img{
  position: absolute;
  top: 0;
  margin: 0;
}

.hover-image{
  position: absolute;
  bottom: 150px;
  left: 0;
}

.cuore{
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px 15px;
  font-size: 2rem;
  background-color: white;
}

.cuore:hover{
  color: red;
  cursor: pointer;
}

.flag{
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.sconto{
  background-color: red;
}

.eco{
  background-color: green;
}

.info-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.caratteristiche{
  font-weight: bold;
}

.prezzo{
  font-weight: bold;
  color: red;
}

.prezzo .prezzo-originale{
  color: black;
  font-weight: lighter;
  text-decoration: line-through;
}

footer{
  background-color: #1A1A1A;
  color: white;
  padding: 20px 0;
  line-height: 30px;
}

.info span{
  font-size: .8rem;
  padding-right: 10px;
  cursor: pointer;
}

.social{
  text-align: center;
}

.social i{
  font-size: 1.5rem;
  padding-left: 10px;
  cursor: pointer;
}